<% if @error%>
  <%= render partial: 'layouts/errors', :locals => {:errors => [@error]}%>
<% end %>
<div class="form-container">
  <%= form_for :session, url: login_path, class: 'form-group' do |f| %>
    <div class = "form-group">
      <%= f.label 'email', class: 'form-control' %>
      <%= f.text_field :email %>
    </div>
    <div class = "form-group">
      <%= f.label :password, class: 'form-control' %>
      <%= f.password_field :password %>
    </div>
      <%= f.submit :login, class: 'btn btn-primary' %>
  <% end %>
</div>
