<li class = "post">
  <div>
    <div><% if logged_in? %>
      <% if current_user == post.user %>
        author: <%= link_to "#{post.user.username}", profile_path, class: 'author' %>
      <% else %>
        author: <%= link_to "#{post.user.username}",user_path(post.user), class: 'author' %>
      <% end %>
    <% else %>
      author: You must <%= link_to 'login', login_path, class: 'author' %> To view who posted this!
    <% end %>
    <div class="time-ago"><%= time_ago_in_words(post.created_at)%></div>
    </div>
    <p><%= post.title%><p>
    <p><%= post.body%></p>
  </div>
</li>