<% unless  @post.errors.full_messages.empty? %>
  <%= render partial: 'layouts/errors', :locals => {:errors => @post.errors.full_messages}%>
<% end %>
<div class="form-container">
<%= form_for @post do |f| %>
  <div class="form-title">Create Post</div>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "Post" %>
<% end %>