<div class="logo-row">
  <%= link_to 'MEMBERS ONLY', profile_path, id: 'logo'%>
</div>
<div class="topnav">
      <%= link_to 'Logout', logout_path, method: 'delete'%>
      <%= link_to 'Profile', profile_path %>
      <%= link_to 'Create Post', new_post_path %>
      <%= link_to 'All Posts', posts_path  %>
</div>